* {
  font-family: 'Roboto';
}


.cat-mouse {
  font-size: 18px;
}

.cat-mouse-desc {
  font-size: 15px;
}

.cat-chasing-mouse-lol {
  text-decoration: none;
}

.only-food {
  font-size: 18px;
}

.only-food-desc {
  font-size: 15px;
}
